<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="photo_categorize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <photo_categorize.Properties.Settings>
            <setting name="pathSource" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="pathDestination" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="moveFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getCreationDateOnExifFail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categorizeAllFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pathRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="overwriteFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </photo_categorize.Properties.Settings>
    </userSettings>
</configuration>